.main-chat{
  height: 100%;
  background-color: #ffffff;
  width:calc(100vw - 300px);
  &__header{
    height: 100px;
    background-color: #ffffff;
    border-bottom: 1px solid #eeeeee;
  }
  &__message-list{
    height: calc(100vh - 100px - 90px);
    background-color: #fafafa;
  }
  &__message-form{
    height: 90px;
    background-color: #d2d2d2;
  }
}